/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #C70039;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="radio"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.respuestas {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

input[type="radio"]:checked + label {
    color: #0096C7;
    font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

